## [HTML ==> DataFrame으로 저장]

(1) 모듈 로딩 <hr>

In [9]:
import pandas as pd

(2) 데이터 준비 <hr>

In [10]:
file = '../DATA/test.html'

(3) HTML => DataFrame 저장

In [11]:
testDF = pd.read_html(file, encoding='utf-8')
testDF

[    0      1   2
 0  번호     이름  전공
 1   1    홍길동  의적
 2   2    마징가  로봇
 3   4    베트맨  박쥐
 4   5  스파이더맨  거미,
      0     1   2
 0  과일명    가격  수량
 1   사과  1000  32
 2  바나나  3000  10
 3   수박  5800   2]

In [12]:
pip install lxml

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: lxml in c:\programdata\anaconda3\envs\my_38\lib\site-packages (4.9.3)
Note: you may need to restart the kernel to use updated packages.

In [13]:
import lxml

In [18]:
type(testDF)       #여러개의 데이터 프레인이 리스트에 담겨져있다. 원소가 데이터프레임

list

In [21]:
testDF[0]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       5 non-null      object
 1   1       5 non-null      object
 2   2       5 non-null      object
dtypes: object(3)
memory usage: 248.0+ bytes

In [20]:
testDF[1]

     0     1   2
0  과일명    가격  수량
1   사과  1000  32
2  바나나  3000  10
3   수박  5800   2