- 시도별 전출입
    - 전출 -> 전입 인구 분석
    - 서울과 제주로 가장 많이 이주한 지역

In [15]:
import pandas as pd

In [16]:
file = '../DATA/시도별 전출입 인구수.xlsx'
city = pd.read_excel(file)
city

,전출지별,전입지별,1970,1971,1972,1973,1974,1975,1976,1977,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,NaN,NaN,이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),...,이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명)
1,전국,전국,4046536,4210164,3687938,4860418,5297969,9011440,6773250,7397623,...,8808256,8487275,8226594,8127195,7506691,7411784,7629098,7755286,7378430,7154226
2,NaN,서울특별시,1742813,1671705,1349333,1831858,2050392,3396662,2756510,2893403,...,2025358,1873188,1733015,1721748,1555281,1520090,1573594,1589431,1515602,1472937
3,NaN,부산광역시,448577,389797,362202,482061,680984,805979,724664,785117,...,514502,519310,519334,508043,461042,478451,485710,507031,459015,439073
4,NaN,대구광역시,-,-,-,-,-,-,-,-,...,409938,398626,370817,370563,348642,351873,350213,351424,328228,321182
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320,NaN,전라북도,139,202,141,210,219,415,392,408,...,668,579,672,561,551,516,609,683,733,768
321,NaN,전라남도,631,965,857,952,1133,2808,2608,2652,...,1143,1123,1002,1026,966,1001,928,1062,1127,1102
322,NaN,경상북도,374,619,468,576,625,1123,1141,1004,...,761,704,738,756,699,781,728,903,931,994
323,NaN,경상남도,474,479,440,571,1208,1517,863,1122,...,1517,1474,1324,1367,1227,1278,1223,1500,1448,1501
324,NaN,제주특별자치도,9290,12427,12210,16158,19580,34221,23291,31028,...,59564,55673,55507,59846,54280,60607,59673,59036,66444,63275

In [17]:
city.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 325 entries, 0 to 324
Data columns (total 50 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   전출지별    18 non-null     object
 1   전입지별    324 non-null    object
 2   1970    325 non-null    object
 3   1971    325 non-null    object
 4   1972    325 non-null    object
 5   1973    325 non-null    object
 6   1974    325 non-null    object
 7   1975    325 non-null    object
 8   1976    325 non-null    object
 9   1977    325 non-null    object
 10  1978    325 non-null    object
 11  1979    325 non-null    object
 12  1980    325 non-null    object
 13  1981    325 non-null    object
 14  1982    325 non-null    object
 15  1983    325 non-null    object
 16  1984    322 non-null    object
 17  1985    322 non-null    object
 18  1986    322 non-null    object
 19  1987    325 non-null    object
 20  1988    325 non-null    object
 21  1989    325 non-null    object
 22  1990    325 non-null    object
 23  1991    325 non-null    object
 24  1992    325 non-null    object
 25  1993    325 non-null    object
 26  1994    325 non-null    object
 27  1995    325 non-null    object
 28  1996    325 non-null    object
 29  1997    325 non-null    object
 30  1998    325 non-null    object
 31  1999    325 non-null    object
 32  2000    325 non-null    object
 33  2001    325 non-null    object
 34  2002    325 non-null    object
 35  2003    325 non-null    object
 36  2004    325 non-null    object
 37  2005    325 non-null    object
 38  2006    325 non-null    object
 39  2007    325 non-null    object
 40  2008    325 non-null    object
 41  2009    325 non-null    object
 42  2010    325 non-null    object
 43  2011    325 non-null    object
 44  2012    325 non-null    object
 45  2013    325 non-null    object
 46  2014    325 non-null    object
 47  2015    325 non-null    object
 48  2016    325 non-null    object
 49  2017    325 non-null    object
dtypes: object(50)
memory usage: 127.1+ KB

In [18]:
# -의 데이터는 정수 0으로 바꿈 (원본 변경)
city = city.replace('-', '0')

In [19]:
# 형변환하기 전 - (1) 0번 row의 글자들을 없앤다.
list = []
for i in range(50):
    list.append(0)
city.iloc[0] = list

In [20]:
# 형변환하기 전 - (2) Nan을 처리해준다.
city = city.fillna(0)

In [21]:
# 형변환
for num in range(1970, 2018):
    num = str(num)
    city[num] = city[num].astype('int64')

city

,전출지별,전입지별,1970,1971,1972,1973,1974,1975,1976,1977,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,전국,전국,4046536,4210164,3687938,4860418,5297969,9011440,6773250,7397623,...,8808256,8487275,8226594,8127195,7506691,7411784,7629098,7755286,7378430,7154226
2,0,서울특별시,1742813,1671705,1349333,1831858,2050392,3396662,2756510,2893403,...,2025358,1873188,1733015,1721748,1555281,1520090,1573594,1589431,1515602,1472937
3,0,부산광역시,448577,389797,362202,482061,680984,805979,724664,785117,...,514502,519310,519334,508043,461042,478451,485710,507031,459015,439073
4,0,대구광역시,0,0,0,0,0,0,0,0,...,409938,398626,370817,370563,348642,351873,350213,351424,328228,321182
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320,0,전라북도,139,202,141,210,219,415,392,408,...,668,579,672,561,551,516,609,683,733,768
321,0,전라남도,631,965,857,952,1133,2808,2608,2652,...,1143,1123,1002,1026,966,1001,928,1062,1127,1102
322,0,경상북도,374,619,468,576,625,1123,1141,1004,...,761,704,738,756,699,781,728,903,931,994
323,0,경상남도,474,479,440,571,1208,1517,863,1122,...,1517,1474,1324,1367,1227,1278,1223,1500,1448,1501
324,0,제주특별자치도,9290,12427,12210,16158,19580,34221,23291,31028,...,59564,55673,55507,59846,54280,60607,59673,59036,66444,63275

## 전국에서 각 지역별로 전입한 것 분석

In [22]:
# 원본 데이터 프레임에서 전국 부분만 꺼낸다.
city_all = city.iloc[1:19]
city_all

,전출지별,전입지별,1970,1971,1972,1973,1974,1975,1976,1977,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
1,전국,전국,4046536,4210164,3687938,4860418,5297969,9011440,6773250,7397623,...,8808256,8487275,8226594,8127195,7506691,7411784,7629098,7755286,7378430,7154226
2,0,서울특별시,1742813,1671705,1349333,1831858,2050392,3396662,2756510,2893403,...,2025358,1873188,1733015,1721748,1555281,1520090,1573594,1589431,1515602,1472937
3,0,부산광역시,448577,389797,362202,482061,680984,805979,724664,785117,...,514502,519310,519334,508043,461042,478451,485710,507031,459015,439073
4,0,대구광역시,0,0,0,0,0,0,0,0,...,409938,398626,370817,370563,348642,351873,350213,351424,328228,321182
5,0,인천광역시,0,0,0,0,0,0,0,0,...,565585,478169,462051,499567,468666,461613,452297,473223,441646,409465
6,0,광주광역시,0,0,0,0,0,0,0,0,...,268757,293879,268574,260561,228612,226696,243066,224603,213176,208138
7,0,대전광역시,0,0,0,0,0,0,0,0,...,263532,252424,262432,264244,239635,230858,239559,220774,219252,211449
8,0,울산광역시,0,0,0,0,0,0,0,0,...,181662,159953,161146,164963,161433,159492,176015,170393,148190,135199
9,0,세종특별자치시,0,0,0,0,0,0,0,0,...,0,0,0,0,32784,23805,56526,83994,65052,82073
10,0,경기도,452060,533375,418045,542224,579194,1006818,770036,880019,...,2195585,2175681,2168820,2062422,1944962,1895434,1891775,1993080,1958593,1888324
11,0,강원도,160959,183964,161637,241663,184385,326365,239946,246070,...,252193,249191,241738,236077,225896,217917,228369,227125,223484,211653
12,0,충청북도,100041,111901,99573,122988,125958,246251,164008,163716,...,244672,232872,235671,228594,212263,215973,215944,214626,202679,197177
13,0,충청남도,192979,205632,190175,239750,217167,482034,292314,341491,...,355294,329626,317853,321187,287195,281428,289627,289952,286764,288738
14,0,전라북도,136856,165843,153347,185754,173873,368163,236947,271557,...,322495,314137,305789,308011,271835,258198,274337,261832,248188,232047
15,0,전라남도,177536,243793,218180,301023,313318,572277,426056,460561,...,277906,281051,265600,261239,239026,244329,260278,250104,234132,227504
16,0,경상북도,407643,470732,519508,605014,585406,1241147,739579,855263,...,363297,367244,354575,363511,335362,329118,337041,344730,315652,311061
17,0,경상남도,212521,214358,196534,282238,358116,514805,386917,457139,...,487356,485349,481955,473757,414556,427658,462239,455384,411952,413179
18,0,제주특별자치도,14551,19064,19404,25845,29176,50939,36273,43287,...,80124,76575,77224,82708,79501,88851,92508,97580,106825,105027

In [23]:
# 수치 데이터의 통계값 확인
city_all.describe()

,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
count,1.800000e+01,1.800000e+01,1.800000e+01,1.800000e+01,1.800000e+01,1.800000e+01,1.800000e+01,1.800000e+01,1.800000e+01,1.800000e+01,...,1.800000e+01,1.800000e+01,1.800000e+01,1.800000e+01,1.800000e+01,1.800000e+01,1.800000e+01,1.800000e+01,1.800000e+01,1.800000e+01
mean,4.496151e+05,4.677960e+05,4.097709e+05,5.400464e+05,5.886632e+05,1.001271e+06,7.525833e+05,8.219581e+05,9.344751e+05,8.138200e+05,...,9.786951e+05,9.430306e+05,9.140660e+05,9.030217e+05,8.340768e+05,8.235316e+05,8.476776e+05,8.616984e+05,8.198256e+05,7.949140e+05
std,9.855908e+05,1.013468e+06,8.797505e+05,1.162111e+06,1.272597e+06,2.156133e+06,1.636065e+06,1.778276e+06,2.022948e+06,1.742912e+06,...,2.043656e+06,1.968585e+06,1.907807e+06,1.880845e+06,1.737488e+06,1.713708e+06,1.760672e+06,1.793223e+06,1.709488e+06,1.656930e+06
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.278400e+04,2.380500e+04,5.652600e+04,8.399400e+04,6.505200e+04,8.207300e+04
25%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,2.550278e+05,2.499992e+05,2.469115e+05,2.421980e+05,2.265750e+05,2.201118e+05,2.311665e+05,2.217312e+05,2.146950e+05,2.089658e+05
50%,1.489075e+05,1.749035e+05,1.574920e+05,2.127520e+05,1.791290e+05,3.472640e+05,2.384465e+05,2.588135e+05,2.836610e+05,2.458175e+05,...,3.388945e+05,3.218815e+05,3.118210e+05,3.145990e+05,2.795150e+05,2.698130e+05,2.819820e+05,2.758920e+05,2.674760e+05,2.603925e+05
75%,3.588625e+05,3.532960e+05,3.261965e+05,4.368015e+05,5.239245e+05,7.475535e+05,6.500120e+05,7.039780e+05,8.125170e+05,7.409020e+05,...,5.077155e+05,4.835540e+05,4.769790e+05,4.931145e+05,4.494205e+05,4.531242e+05,4.597535e+05,4.687632e+05,4.342225e+05,4.122505e+05
max,4.046536e+06,4.210164e+06,3.687938e+06,4.860418e+06,5.297969e+06,9.011440e+06,6.773250e+06,7.397623e+06,8.410276e+06,7.324380e+06,...,8.808256e+06,8.487275e+06,8.226594e+06,8.127195e+06,7.506691e+06,7.411784e+06,7.629098e+06,7.755286e+06,7.378430e+06,7.154226e+06

In [24]:
# 최빈값 확인
city_all.mode(numeric_only = True)

,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,32784,23805,56526,83994,65052,82073
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,80124,76575,77224,82708,79501,88851,92508,97580,106825,105027
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,181662,159953,161146,164963,161433,159492,176015,170393,148190,135199
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,244672,232872,235671,228594,212263,215973,215944,214626,202679,197177
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,252193,249191,241738,236077,225896,217917,228369,220774,213176,208138
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,263532,252424,262432,260561,228612,226696,239559,224603,219252,211449
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,268757,281051,265600,261239,239026,230858,243066,227125,223484,211653
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,277906,293879,268574,264244,239635,244329,260278,250104,234132,227504
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,322495,314137,305789,308011,271835,258198,274337,261832,248188,232047
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,355294,329626,317853,321187,287195,281428,289627,289952,286764,288738
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,363297,367244,354575,363511,335362,329118,337041,344730,315652,311061
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,409938,398626,370817,370563,348642,351873,350213,351424,328228,321182
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,487356,478169,462051,473757,414556,427658,452297,455384,411952,409465
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,514502,485349,481955,499567,461042,461613,462239,473223,441646,413179
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,565585,519310,519334,508043,468666,478451,485710,507031,459015,439073
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2025358,1873188,1733015,1721748,1555281,1520090,1573594,1589431,1515602,1472937
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2195585,2175681,2168820,2062422,1944962,1895434,1891775,1993080,1958593,1888324
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8808256,8487275,8226594,8127195,7506691,7411784,7629098,7755286,7378430,7154226

In [25]:
# 중앙값 확인
city_all.median(numeric_only = True)

1970    148907.5
1971    174903.5
1972    157492.0
1973    212752.0
1974    179129.0
1975    347264.0
1976    238446.5
1977    258813.5
1978    283661.0
1979    245817.5
1980    313979.0
1981    362716.0
1982    365624.0
1983    418795.5
1984    413195.0
1985    403353.5
1986    361821.0
1987    404350.5
1988    397181.5
1989    323296.0
1990    342382.0
1991    345649.5
1992    347055.5
1993    325847.5
1994    313991.0
1995    346302.0
1996    311249.0
1997    327450.5
1998    338413.5
1999    361035.0
2000    338069.5
2001    345967.5
2002    327600.5
2003    348794.0
2004    345337.5
2005    318490.5
2006    332051.5
2007    344085.0
2008    338894.5
2009    321881.5
2010    311821.0
2011    314599.0
2012    279515.0
2013    269813.0
2014    281982.0
2015    275892.0
2016    267476.0
2017    260392.5
dtype: float64

In [26]:
# 각 연도 사이의 관계를 비교함
city_all.corr(numeric_only = True)

,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
1970,1.000000,0.999034,0.997023,0.998113,0.998660,0.997518,0.999494,0.998906,0.998943,0.996262,...,0.962438,0.960080,0.956855,0.958351,0.956354,0.956489,0.958017,0.956539,0.955215,0.955697
1971,0.999034,1.000000,0.998993,0.999539,0.998899,0.999271,0.999666,0.999709,0.999604,0.998457,...,0.969773,0.967818,0.964974,0.966316,0.964561,0.964655,0.966066,0.964694,0.963523,0.963983
1972,0.997023,0.998993,1.000000,0.999756,0.998592,0.999846,0.998552,0.999188,0.998969,0.999125,...,0.969477,0.967789,0.965158,0.966645,0.964931,0.965151,0.966629,0.965180,0.963807,0.964297
1973,0.998113,0.999539,0.999756,1.000000,0.999198,0.999751,0.999309,0.999660,0.999538,0.999093,...,0.969082,0.967266,0.964517,0.966001,0.964224,0.964450,0.965978,0.964486,0.963115,0.963606
1974,0.998660,0.998899,0.998592,0.999198,1.000000,0.998604,0.999500,0.999629,0.999666,0.998845,...,0.967088,0.965237,0.962454,0.963920,0.962030,0.962386,0.963930,0.962469,0.960957,0.961442
1975,0.997518,0.999271,0.999846,0.999751,0.998604,1.000000,0.998935,0.999422,0.999272,0.998931,...,0.968356,0.966527,0.963757,0.965277,0.963491,0.963686,0.965211,0.963705,0.962341,0.962861
1976,0.999494,0.999666,0.998552,0.999309,0.999500,0.998935,1.000000,0.999827,0.999836,0.998178,...,0.966012,0.963929,0.960923,0.962386,0.960484,0.960685,0.962212,0.960733,0.959378,0.959862
1977,0.998906,0.999709,0.999188,0.999660,0.999629,0.999422,0.999827,1.000000,0.999975,0.999089,...,0.968781,0.966895,0.964085,0.965494,0.963666,0.963887,0.965371,0.963950,0.962611,0.963100
1978,0.998943,0.999604,0.998969,0.999538,0.999666,0.999272,0.999836,0.999975,1.000000,0.999003,...,0.968355,0.966442,0.963605,0.965027,0.963162,0.963402,0.964919,0.963469,0.962101,0.962603
1979,0.996262,0.998457,0.999125,0.999093,0.998845,0.998931,0.998178,0.999089,0.999003,1.000000,...,0.974756,0.973392,0.971099,0.972311,0.970701,0.970998,0.972345,0.971106,0.969811,0.970287
1980,0.994732,0.997637,0.998840,0.998647,0.998049,0.998480,0.997154,0.998289,0.998150,0.999739,...,0.976260,0.975042,0.972900,0.974121,0.972577,0.972915,0.974270,0.972995,0.971690,0.972153
1981,0.992539,0.993632,0.992676,0.993863,0.994395,0.992812,0.993861,0.994119,0.994279,0.993794,...,0.976513,0.974416,0.971723,0.973462,0.971764,0.972244,0.973671,0.972075,0.970513,0.970898
1982,0.992236,0.993358,0.992037,0.993302,0.994086,0.992124,0.993484,0.993789,0.993948,0.993709,...,0.978828,0.976862,0.974306,0.975868,0.974259,0.974713,0.976015,0.974575,0.973134,0.973499
1983,0.992079,0.993626,0.991873,0.993148,0.993491,0.992110,0.993366,0.993706,0.993835,0.993670,...,0.981337,0.979392,0.976897,0.978326,0.976817,0.977161,0.978350,0.977030,0.975784,0.976131
1984,0.990798,0.992624,0.991280,0.992444,0.992794,0.991375,0.992302,0.992855,0.992986,0.993323,...,0.982686,0.980806,0.978449,0.979909,0.978436,0.978832,0.980004,0.978701,0.977414,0.977752
1985,0.988828,0.991489,0.990497,0.991420,0.991474,0.990404,0.990796,0.991671,0.991730,0.992946,...,0.985998,0.984376,0.982285,0.983596,0.982283,0.982661,0.983705,0.982537,0.981360,0.981664
1986,0.987435,0.990197,0.989446,0.990106,0.990139,0.989077,0.989152,0.990284,0.990275,0.992117,...,0.989121,0.987805,0.985873,0.987037,0.985788,0.986133,0.987095,0.986003,0.984915,0.985214
1987,0.986838,0.989630,0.989008,0.989650,0.989816,0.988613,0.988662,0.989858,0.989869,0.991861,...,0.989156,0.987854,0.985958,0.987139,0.985895,0.986271,0.987229,0.986147,0.985022,0.985320
1988,0.990141,0.991864,0.990079,0.991104,0.991390,0.990128,0.991111,0.991736,0.991805,0.992298,...,0.986190,0.984498,0.982203,0.983464,0.982059,0.982322,0.983350,0.982181,0.981100,0.981411
1989,0.987606,0.989900,0.988206,0.989162,0.989389,0.988093,0.988964,0.989744,0.989782,0.990924,...,0.989114,0.987607,0.985583,0.986740,0.985475,0.985701,0.986637,0.985504,0.984514,0.984754
1990,0.981445,0.985339,0.984675,0.985147,0.984857,0.984186,0.983796,0.985297,0.985252,0.988234,...,0.993791,0.992711,0.991224,0.992233,0.991227,0.991484,0.992245,0.991283,0.990395,0.990582
1991,0.979226,0.983557,0.983630,0.983900,0.983500,0.982947,0.981970,0.983747,0.983696,0.987316,...,0.993810,0.992926,0.991574,0.992607,0.991610,0.991947,0.992768,0.991727,0.990753,0.990966
1992,0.977219,0.981764,0.981777,0.982043,0.981776,0.981010,0.980079,0.981984,0.981932,0.985936,...,0.994713,0.993962,0.992754,0.993674,0.992758,0.993097,0.993830,0.992898,0.991986,0.992177
1993,0.974366,0.979633,0.979637,0.979679,0.979003,0.978744,0.977429,0.979569,0.979406,0.984095,...,0.996945,0.996384,0.995445,0.996152,0.995443,0.995680,0.996196,0.995496,0.994822,0.994965
1994,0.972364,0.977836,0.977609,0.977676,0.976929,0.976726,0.975424,0.977650,0.977488,0.982409,...,0.997600,0.997133,0.996289,0.996872,0.996239,0.996437,0.996865,0.996274,0.995708,0.995842
1995,0.969168,0.975512,0.975709,0.975538,0.974392,0.974643,0.972728,0.975265,0.975024,0.980759,...,0.998456,0.998258,0.997663,0.998102,0.997600,0.997783,0.998132,0.997635,0.997174,0.997290
1996,0.970340,0.976415,0.976491,0.976372,0.975405,0.975476,0.973745,0.976222,0.976007,0.981567,...,0.998364,0.998105,0.997459,0.997912,0.997379,0.997567,0.997919,0.997438,0.996959,0.997084
1997,0.967618,0.974152,0.974247,0.973924,0.972466,0.973062,0.971055,0.973560,0.973176,0.978966,...,0.999305,0.999048,0.998516,0.998934,0.998588,0.998686,0.998931,0.998531,0.998164,0.998188
1998,0.966380,0.973348,0.974172,0.973731,0.972129,0.972865,0.970315,0.973034,0.972670,0.978911,...,0.998721,0.998582,0.998115,0.998622,0.998242,0.998441,0.998807,0.998274,0.997772,0.997827
1999,0.970609,0.976861,0.976584,0.976413,0.974973,0.975571,0.973880,0.976187,0.975831,0.981107,...,0.999083,0.998737,0.998064,0.998479,0.998061,0.998124,0.998423,0.997978,0.997627,0.997673
2000,0.968847,0.975248,0.974814,0.974647,0.973122,0.973819,0.972122,0.974469,0.974105,0.979489,...,0.999395,0.999033,0.998420,0.998804,0.998445,0.998472,0.998693,0.998323,0.998040,0.998058
2001,0.967184,0.973796,0.973075,0.972884,0.971311,0.972061,0.970437,0.972849,0.972448,0.978058,...,0.999643,0.999401,0.998914,0.999116,0.998852,0.998807,0.998906,0.998702,0.998580,0.998571
2002,0.964267,0.971220,0.970443,0.970216,0.968573,0.969388,0.967646,0.970215,0.969808,0.975861,...,0.999777,0.999678,0.999353,0.999410,0.999248,0.999180,0.999174,0.999108,0.999092,0.999077
2003,0.965057,0.971998,0.971597,0.971332,0.969701,0.970484,0.968545,0.971156,0.970765,0.976826,...,0.999794,0.999687,0.999324,0.999499,0.999264,0.999264,0.999377,0.999161,0.999018,0.999026
2004,0.962917,0.970277,0.970291,0.969839,0.967892,0.969080,0.966594,0.969423,0.968992,0.975513,...,0.999875,0.999858,0.999618,0.999786,0.999604,0.999614,0.999709,0.999512,0.999397,0.999418
2005,0.962009,0.969399,0.969264,0.968824,0.966966,0.968063,0.965701,0.968530,0.968101,0.974705,...,0.999929,0.999939,0.999736,0.999842,0.999704,0.999695,0.999716,0.999602,0.999533,0.999536
2006,0.961406,0.968810,0.968256,0.967848,0.965937,0.967113,0.964941,0.967727,0.967274,0.973821,...,0.999836,0.999874,0.999708,0.999676,0.999596,0.999502,0.999423,0.999440,0.999512,0.999495
2007,0.961631,0.969076,0.968755,0.968314,0.966311,0.967620,0.965250,0.968058,0.967616,0.974144,...,0.999977,0.999905,0.999709,0.999812,0.999697,0.999635,0.999609,0.999550,0.999537,0.999515
2008,0.962438,0.969773,0.969477,0.969082,0.967088,0.968356,0.966012,0.968781,0.968355,0.974756,...,1.000000,0.999870,0.999620,0.999780,0.999635,0.999594,0.999608,0.999502,0.999439,0.999426
2009,0.960080,0.967818,0.967789,0.967266,0.965237,0.966527,0.963929,0.966895,0.966442,0.973392,...,0.999870,1.000000,0.999904,0.999926,0.999844,0.999815,0.999791,0.999741,0.999730,0.999726
2010,0.956855,0.964974,0.965158,0.964517,0.962454,0.963757,0.960923,0.964085,0.963605,0.971099,...,0.999620,0.999904,1.000000,0.999929,0.999935,0.999909,0.999813,0.999851,0.999896,0.999873
2011,0.958351,0.966316,0.966645,0.966001,0.963920,0.965277,0.962386,0.965494,0.965027,0.972311,...,0.999780,0.999926,0.999929,1.000000,0.999950,0.999950,0.999918,0.999868,0.999822,0.999801
2012,0.956354,0.964561,0.964931,0.964224,0.962030,0.963491,0.960484,0.963666,0.963162,0.970701,...,0.999635,0.999844,0.999935,0.999950,1.000000,0.999978,0.999899,0.999941,0.999940,0.999911
2013,0.956489,0.964655,0.965151,0.964450,0.962386,0.963686,0.960685,0.963887,0.963402,0.970998,...,0.999594,0.999815,0.999909,0.999950,0.999978,1.000000,0.999942,0.999955,0.999907,0.999884
2014,0.958017,0.966066,0.966629,0.965978,0.963930,0.965211,0.962212,0.965371,0.964919,0.972345,...,0.999608,0.999791,0.999813,0.999918,0.999899,0.999942,1.000000,0.999929,0.999801,0.999814
2015,0.956539,0.964694,0.965180,0.964486,0.962469,0.963705,0.960733,0.963950,0.963469,0.971106,...,0.999502,0.999741,0.999851,0.999868,0.999941,0.999955,0.999929,1.000000,0.999941,0.999942
2016,0.955215,0.963523,0.963807,0.963115,0.960957,0.962341,0.959378,0.962611,0.962101,0.969811,...,0.999439,0.999730,0.999896,0.999822,0.999940,0.999907,0.999801,0.999941,1.000000,0.999985
2017,0.955697,0.963983,0.964297,0.963606,0.961442,0.962861,0.959862,0.963100,0.962603,0.970287,...,0.999426,0.999726,0.999873,0.999801,0.999911,0.999884,0.999814,0.999942,0.999985,1.000000

## 서울과 제주로 가장 많이 이주한 지역

In [27]:
# 먼저 각 지역별로 데이터프레임을 분리한다.
all = city.iloc[1:19]
seoul = city.iloc[19:37]
busan = city.iloc[37:55]
busan = city.iloc[37:55]