# 2장 Series 객체

## 코딩챌린지

In [452]:
superheroes = ['Batman', 'Superman', 'Spider-Man', 'Iron Man', 'Captain America', 'Wonder Woman']
stregth_levels = (100, 120, 90, 95, 110, 120)

In [453]:
#1
import pandas as pd
import numpy as np
hero = pd.Series(superheroes)
hero

0             Batman
1           Superman
2         Spider-Man
3           Iron Man
4    Captain America
5       Wonder Woman
dtype: object

In [454]:
#2
import pandas as pd
hero = pd.Series(stregth_levels)
hero

0    100
1    120
2     90
3     95
4    110
5    120
dtype: int64

In [455]:
#3
heroes = pd.Series(stregth_levels, index=superheroes)
heroes

Batman             100
Superman           120
Spider-Man          90
Iron Man            95
Captain America    110
Wonder Woman       120
dtype: int64

In [456]:
#4
heroes.head(2)

Batman      100
Superman    120
dtype: int64

In [457]:
#5
heroes.tail(4)

Spider-Man          90
Iron Man            95
Captain America    110
Wonder Woman       120
dtype: int64

In [458]:
#6
len(heroes)  #===> 이렇게 하면 고유하지 않음

6

In [459]:
heroes.nunique()

5

In [460]:
#7
heroes.mean()

105.83333333333333

In [461]:
#8
print(heroes.min(), heroes.max(), sep='\n')

90
120

In [462]:
#9
heroes * 2

Batman             200
Superman           240
Spider-Man         180
Iron Man           190
Captain America    220
Wonder Woman       240
dtype: int64

In [463]:
#10
#내가 한 방식
V=list(heroes.values)
K=list(heroes.index)
myDict = {}
for k in K:
    for v in V:
        myDict[k] = v

myDict

{'Batman': 120,
 'Superman': 120,
 'Spider-Man': 120,
 'Iron Man': 120,
 'Captain America': 120,
 'Wonder Woman': 120}

In [464]:
#책 해답
dict(heroes)          #함수쓰면 알아서 딕셔너리가 생성됨)

{'Batman': 100,
 'Superman': 120,
 'Spider-Man': 90,
 'Iron Man': 95,
 'Captain America': 110,
 'Wonder Woman': 120}

--------------

## 2-1

In [465]:
import pandas as pd
import numpy as np

In [466]:
pd.Series()

Series([], dtype: object)

In [467]:
ice_cream_flavors = ["Chocolate","Vanilla","Strawberry","Rum Raisin"]
pd.Series(ice_cream_flavors)

0     Chocolate
1       Vanilla
2    Strawberry
3    Rum Raisin
dtype: object

In [468]:
pd.Series(data = ice_cream_flavors)
#바로 윗줄과 같은 결과가 나온다. 다만 더 가독성이 좋다.

0     Chocolate
1       Vanilla
2    Strawberry
3    Rum Raisin
dtype: object

In [469]:
ice_cream_flavors = ["Chocolate","Vanilla","Strawberry","Rum Raisin"]
days_of_week = ("Monday", "Wednesday", "Friday", "Saturday")
pd.Series(ice_cream_flavors, days_of_week)

Monday        Chocolate
Wednesday       Vanilla
Friday       Strawberry
Saturday     Rum Raisin
dtype: object

In [470]:
#Series의 인덱스는 중복을 허용
ice_cream_flavors = ["Chocolate","Vanilla","Strawberry","Rum Raisin"]
days_of_week = ("Monday", "Wednesday", "Friday", "Wednesday")
pd.Series(ice_cream_flavors, days_of_week)

Monday        Chocolate
Wednesday       Vanilla
Friday       Strawberry
Wednesday    Rum Raisin
dtype: object

- dtype 확인하기

In [471]:
bunch_of_bools = [True, False, False]
pd.Series(bunch_of_bools)

0     True
1    False
2    False
dtype: bool

In [472]:
stock_prices = [985.32, 950.44]
time_of_day = ['open','close']
pd.Series(data = stock_prices, index = time_of_day)

open     985.32
close    950.44
dtype: float64

In [473]:
lucky_numbers = [4, 8, 15, 16, 23, 42]
pd.Series(lucky_numbers)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [474]:
lucky_numbers = [4, 8, 15, 16, 23, 42]
pd.Series(lucky_numbers, dtype = "float") #이렇게 설정하면 dtype 변경 가능

0     4.0
1     8.0
2    15.0
3    16.0
4    23.0
5    42.0
dtype: float64

- 결측값 있는 Series 생성

In [475]:
temperatures = [94, 88, np.nan, 92]
pd.Series(data=temperatures)

0    94.0
1    88.0
2     NaN
3    92.0
dtype: float64

## 2-2

In [476]:
rgb_colors = [(120, 41, 26), (196, 165, 45)]
pd.Series(data = rgb_colors)

0     (120, 41, 26)
1    (196, 165, 45)
dtype: object

In [477]:
my_set = {"Ricky", "Bobby"}
pd.Series(list(my_set))       #set은 형변환이 필요함

0    Ricky
1    Bobby
dtype: object

In [478]:
random_data = np.random.randint(1, 101, 10)
random_data

array([30,  9, 40, 46, 28, 41, 13, 43, 86,  3])

In [479]:
pd.Series(random_data)

0    30
1     9
2    40
3    46
4    28
5    41
6    13
7    43
8    86
9     3
dtype: int32

## 2-3

In [480]:
data = [3, 3]
pd.Series(data).is_unique

False

In [481]:
pd.Series(data = [1,3,6]).is_monotonic_increasing    #각 시리즈의 값이 자신의 이전 값보다 큰가

True

## 2-4

In [482]:
values = range(0, 500, 5)
nums = pd.Series(data=values)
nums

0       0
1       5
2      10
3      15
4      20
     ...
95    475
96    480
97    485
98    490
99    495
Length: 100, dtype: int64

In [483]:
nums.head(3)

0     0
1     5
2    10
dtype: int64

In [484]:
nums.head()       # n = 5 (default)

0     0
1     5
2    10
3    15
4    20
dtype: int64

In [485]:
nums.tail(6)

94    470
95    475
96    480
97    485
98    490
99    495
dtype: int64

In [486]:
nums.tail()      # n = 5 (default)

95    475
96    480
97    485
98    490
99    495
dtype: int64

## 2-5

In [487]:
numbers = pd.Series([1, 2, 3, np.nan, 4, 5])
numbers

0    1.0
1    2.0
2    3.0
3    NaN
4    4.0
5    5.0
dtype: float64

In [488]:
numbers.count()                #nan이 아닌 값의 총 개수

5

In [489]:
numbers.sum()                  #series의 모든 값 더함

15.0

In [490]:
numbers.sum(skipna = False)

nan

In [491]:
numbers.sum(min_count = 3)       #판다스가 합을 계산하기 위해 Series가 보유해야하는 유효한 값의 최소 개수를 설정한 거

15.0

In [492]:
numbers.sum(min_count = 6)      #여기서는 유효한 값이 5개이므로 nan 반환

nan

In [493]:
numbers.product()

120.0

In [494]:
numbers.product(skipna = False)         #곱셈 계산에 nan을 포함했으므로 nan 반환

nan

In [495]:
numbers.product(min_count = 3)

120.0

In [496]:
numbers.cumsum()           #값의 누적 합계를 값으로 가지는 새 Series를 반환

0     1.0
1     3.0
2     6.0
3     NaN
4    10.0
5    15.0
dtype: float64

In [497]:
numbers.cumsum(skipna = False)     #계산에 nan을 포함했으므로 그 이후로는 nan 반환

0    1.0
1    3.0
2    6.0
3    NaN
4    NaN
5    NaN
dtype: float64

In [498]:
numbers.pct_change()             #한 시리즈 값에서 다음값까지의 변동 비율 반환, Nan은 마지막 유효한 값으로 대체함

0         NaN
1    1.000000
2    0.500000
3    0.000000
4    0.333333
5    0.250000
dtype: float64

In [499]:
# 정방향 채우기
numbers.pct_change()
numbers.pct_change(fill_method = 'pad')
numbers.pct_change(fill_method = 'ffill')

0         NaN
1    1.000000
2    0.500000
3    0.000000
4    0.333333
5    0.250000
dtype: float64

In [500]:
# 역방향 채우기
numbers.pct_change(fill_method='bfill')
numbers.pct_change(fill_method='backfill')

0         NaN
1    1.000000
2    0.500000
3    0.333333
4    0.000000
5    0.250000
dtype: float64

In [501]:
numbers.mean()

3.0

In [502]:
numbers.median()       #정렬된 시리즈 값에서 가운데 숫자를 반환

3.0

In [503]:
numbers.std()          #데이터 변동의 척도인 표준편차를 반환

1.5811388300841898

In [504]:
# describe 메서드를 통해 개수, 평균, 표준 편차를 포함한 일련의 통계 평가를 반환함
numbers.describe()

count    5.000000
mean     3.000000
std      1.581139
min      1.000000
25%      2.000000
50%      3.000000
75%      4.000000
max      5.000000
dtype: float64

In [505]:
numbers.sample()      #임의의 값 반환함

2    3.0
dtype: float64

In [506]:
numbers.sample(3)      #임의의 값 반환함

5    5.0
1    2.0
0    1.0
dtype: float64

In [507]:
alphabet = pd.Series(['a', 'b', 'c', 'd', 'a'])
alphabet.unique()

array(['a', 'b', 'c', 'd'], dtype=object)

In [508]:
alphabet.nunique()     #시리즈에서 고유한 값의 개수를 반환

4

- 산술연산

In [509]:
s1 = pd.Series(data = [5, np.nan, 15], index = ['A', 'B', 'C'])
s1

A     5.0
B     NaN
C    15.0
dtype: float64

In [510]:
s1 + 3

A     8.0
B     NaN
C    18.0
dtype: float64

In [511]:
s1.add(3)

A     8.0
B     NaN
C    18.0
dtype: float64

In [512]:
s1 - 5

A     0.0
B     NaN
C    10.0
dtype: float64

In [513]:
s1.sub(5)

A     0.0
B     NaN
C    10.0
dtype: float64

In [514]:
s1.subtract(5)

A     0.0
B     NaN
C    10.0
dtype: float64

In [515]:
s1 * 2

A    10.0
B     NaN
C    30.0
dtype: float64

In [516]:
s1.mul(2)

A    10.0
B     NaN
C    30.0
dtype: float64

In [517]:
s1.multiply(2)

A    10.0
B     NaN
C    30.0
dtype: float64

In [518]:
s1/2

A    2.5
B    NaN
C    7.5
dtype: float64

In [519]:
s1.div(2)

A    2.5
B    NaN
C    7.5
dtype: float64

In [520]:
s1.divide(2)

A    2.5
B    NaN
C    7.5
dtype: float64

In [521]:
s1.floordiv(4)

A    1.0
B    NaN
C    3.0
dtype: float64

In [522]:
s1.mod(3)

A    2.0
B    NaN
C    0.0
dtype: float64

In [523]:
s1 = pd.Series([1,2,3], index =['A', 'B', 'C'])
s2 = pd.Series([4,5,6], index =['A','B','C'])
print(s1, s2, sep='\n')

A    1
B    2
C    3
dtype: int64
A    4
B    5
C    6
dtype: int64

In [524]:
s1 + s2

A    5
B    7
C    9
dtype: int64

In [525]:
s1 = pd.Series(data=[5, 10, 15], index=['A', 'B', 'C'])
s2 = pd.Series(data=[4, 8, 12, 14], index = ['B', 'C', 'D', 'E'])

In [526]:
s1 + s2

A     NaN
B    14.0
C    23.0
D     NaN
E     NaN
dtype: float64

## 2-6

In [527]:
cities = pd.Series(data = ['San Francisco', 'Los Angelses', 'Las Vegas', np.nan])

In [528]:
len(cities)     #nan 값도 포함

4

In [529]:
list(cities)

['San Francisco', 'Los Angelses', 'Las Vegas', nan]

In [530]:
dict(cities)                   #인덱스 레이블과 값은 딕셔너리의 키와 값으로 변환됨

{0: 'San Francisco', 1: 'Los Angelses', 2: 'Las Vegas', 3: nan}

In [531]:
"Las Vegas" in cities

False