## [ 다양한 Series 객체 생성 ]

#### (1) 모듈 로딩

In [4]:
import pandas as pd

#### (2) Series 객체 생성 - 방법1
- Series(data, index = 지정)

In [5]:
sr1 = pd.Series([11,22,33], index = ['one','two','three'])

In [6]:
sr1

one      11
two      22
three    33
dtype: int64

#### (2) Series 객체 생성 - 방법2

In [7]:
sr1 = pd.Series([11,22,33], index = ['one','two','three'], name = 'jumsu')  
#여기서 sr1은 series의 주소를 저장하는 변수명이다. 데이터의 이름은 jumsu로 새롭게 설정함.
sr1

one      11
two      22
three    33
Name: jumsu, dtype: int64

#### (2) Series 객체 생성 - 방법3

In [8]:
sr1 = pd.Series([11,22,33], index=['one','two','three'],name='jumsu',dtype='int8')
sr1                                                                      # 1바이트로 쓰겠다 (0~255)

one      11
two      22
three    33
Name: jumsu, dtype: int8

#### (2) Series 객체 생성 - 방법 4 => 저장되는 데이터 dict

In [9]:
data = {'name':'홍길동', 'age':12, 'job':'도전'}
# 딕셔너리의 키가 레이블로 들어감
sr1 = pd.Series(data)
sr1

name    홍길동
age      12
job      도전
dtype: object

In [10]:
# 속성 확인하기
print(sr1.index , sr1.values, sep ='\n')     #숫자와 문자열이 섞여있으면 타입은 오브젝트 (이렇게해야 데이터손실이 없음)

Index(['name', 'age', 'job'], dtype='object')
['홍길동' 12 '도전']

#### (2) Series 객체 생성 - 방법 4 => 저장되는 데이터 set

In [11]:
data = {'홍길동', 12, '도적'}         #set은 순서가 없고 중복이 불허한 종류임. 
# 형변환은 걍 기호 갖다쓰는게 아니라 함수를 써야함 ㅋㅋㅋㅋ (내가했던 실수ㅋㅎ)

# 형변환 후 객체 생성 가능
sr1 = pd.Series(list(data), index = [1,2,3])        
sr1

1     도적
2     12
3    홍길동
dtype: object