# [ DataFrame 살펴보기 ]
* 데이터를 테이블 즉, 표 형태로 저장하는 자료구조
* 구성 : 행 + 열
* 생성 : pandas.DataFrame() 생성자 메서드

(1) 모듈 로딩 ---------------------------------------------------------

In [328]:
from pandas import DataFrame           # <- 얘만 import

(2) 데이터 준비 -----------------------------------------------------

In [329]:
data = [ [11,22,33], [44,55,66], [77,88,99] ]

(3) DataFrame으로 저장 즉, DataFrame 객체 생성 ---------------

In [330]:
df1 = DataFrame(data)                #얘는 임포트를 다 하지 않아서 pandas. 안함
df1

    0   1   2
0  11  22  33
1  44  55  66
2  77  88  99

(4) DataFrame의 속성 읽기 => 객체변수명.속성명 -------------

In [331]:
df1.index

RangeIndex(start=0, stop=3, step=1)

In [332]:
df1.columns

RangeIndex(start=0, stop=3, step=1)

In [333]:
df1.values

array([[11, 22, 33],
       [44, 55, 66],
       [77, 88, 99]], dtype=int64)

In [334]:
# 데이터가 저장된 표의 형태 
df1.shape                        #표가 몇행 몇열짜리인지 알려줌 => 2행 3열

(3, 3)

In [335]:
# 데이터의 차원 정보 n-dimension
df1.ndim                         #dimension : 차원

2

In [336]:
# 컬럼별 데이터 타입
df1.dtypes                       #한 컬럼 속에는 타입이 같으니까ㅇㅇ 컬럼별 확인
                                 #여기서는 다 숫자니까 int64
# 저기에 적힌 object라는 것은 컬럼 전체가 object라는 거임 ㅇㅇ

0    int64
1    int64
2    int64
dtype: object

(5) 원소 읽기 ==> 행과 열 지정 ==> 1개 원소  ------------------

- 컬럼 즉 열(column) 읽기   ==> 객체변수명[인덱스]

In [337]:
df1[0]                              #0번 column의 데이터를 가져옴

0    11
1    44
2    77
Name: 0, dtype: int64

In [338]:
df1[2]

0    33
1    66
2    99
Name: 2, dtype: int64

In [339]:
#df1[-1]                            # 에러 발생. 이건 안됨

In [340]:
## 컬럼변경 =======================================================
df1.columns = ['A', 'B', 'C']
df1

    A   B   C
0  11  22  33
1  44  55  66
2  77  88  99

In [341]:
df1['A']

0    11
1    44
2    77
Name: A, dtype: int64

In [342]:
df1.A                    # column 가져올때 대괄호없이 마침표하고 컴럼 변수명 바로 적어도 ㄱㅊ

0    11
1    44
2    77
Name: A, dtype: int64

In [343]:
#df1[0]                    # column에서는 이게 안먹힘

In [344]:
df1.columns = [0, 1, 2]

In [345]:
df1[0]                          # 이르케하면 콜럼 이름이 바뀐거라 ㄱㅊ

0    11
1    44
2    77
Name: 0, dtype: int64

In [346]:
# 컬럼 레이블 설정 후 정수 인덱싱 불가!!
#df1.0                           # 그러나 숫자는 콜럼 이름이라도 이 방식은 불가능

- 로우 즉 행 (row) 읽기   ==> 방법 2가지
  * 위  치 인덱스로 읽기 : 객체변수명.iloc[인덱스]                  (i는 int이다.)
  * 레이블 인덱스로 읽기 : 객체변수명.loc[인덱스]

In [347]:
df1

    0   1   2
0  11  22  33
1  44  55  66
2  77  88  99

In [348]:
df1.index = ['one', 'two', 'three']          # 행 인덱스 변경함

In [349]:
df1

        0   1   2
one    11  22  33
two    44  55  66
three  77  88  99

In [350]:
one = df1.loc['one']                  # 레이블 인덱스
type(one)

pandas.core.series.Series

In [351]:
zero = df1.iloc[0]                    # 정수 인덱스
type(zero)

pandas.core.series.Series

(6) 모든 원소를 한번에 한개씩만 출력

In [352]:
df1

        0   1   2
one    11  22  33
two    44  55  66
three  77  88  99

In [353]:
# 내가 한 방식
list1 = df1.iloc[0]
list2 = df1.iloc[1]
list1[0], list1[1], list1[2], list2[0], list2[1], list2[2]

(11, 22, 33, 44, 55, 66)

- 객체변수명.iloc[행인덱스, 열인덱스]  /  객체변수명.loc[행레이블, 열레이블 or 열인덱스]

In [354]:
df1.iloc[0,0], df1.iloc[0,2], df1.iloc[1,0], df1.iloc[1,2]

(11, 33, 44, 66)

In [355]:
df1.loc['one',0], df1.loc['one',2], df1.loc['two',0]       #열은 따로 레이블이 없으니 그대로 해도 ㄱㅊ (loc이지만 가능)

(11, 33, 44)

In [356]:
# 컬럼명 변경 => 객체변수명.columns = 새로운 컬럼명
df1.columns = ['A', 'B', 'C']
df1

        A   B   C
one    11  22  33
two    44  55  66
three  77  88  99

In [357]:
# 22와 66만 뽑기

df1.loc['one','B'], df1.loc['two','C']

(22, 66)

In [358]:
#df1.iloc[0, 'B']      #이렇게는 불가능  (iloc에는 무조건 숫자 해줘야함 . loc는 때에 따라 숫자도 같이 되지만)

In [359]:
df1.iloc[0,1], df1.iloc[1,2]        # 얘는 ㄱㅊ

(22, 66)

In [360]:
df1.iloc[0][1], df1.iloc[1][2]                    # 이렇게도 가능. 1개의 시리즈에 인덱스로 접근 가능

(22, 66)

In [361]:
df1.loc['one']['B'], df1.loc['two']['C']          # 이렇게도 가능. 1개의 시리즈에 인덱스로 접근 가능

(22, 66)

In [362]:
zero = df1.iloc[0]
zero                        # 컬럼명이 행인덱스로 그대로 결과값에 나옴. 
                            # 행이름이 name으로 들어감

A    11
B    22
C    33
Name: one, dtype: int64

In [363]:
zero = df1['B']
zero                        # 행명이 행인덱스로 그대로 결과값에 나옴.
                            # 컬럼명이 name으로 들어감

one      22
two      55
three    88
Name: B, dtype: int64

In [364]:
df1.index, df1.columns

(Index(['one', 'two', 'three'], dtype='object'),
 Index(['A', 'B', 'C'], dtype='object'))

In [365]:
df1.shape

(3, 3)

In [366]:
df1.shape[0],  df1.shape[1]

(3, 3)

- iloc를 활용한 모든 원소 출력 ==> 행과 열의 번호 필요

In [367]:
for row in range(df1.shape[0]):
    print(row)
    for col in range(df1.shape[1]):
        print(row, col, df1.iloc[row,col])

0
0 0 11
0 1 22
0 2 33
1
1 0 44
1 1 55
1 2 66
2
2 0 77
2 1 88
2 2 99

- loc를 활용한 모든 원소 출력 ==> 행 레이블/이름과 열 레이블/이름 필요

In [368]:
df1.index, df1.columns

(Index(['one', 'two', 'three'], dtype='object'),
 Index(['A', 'B', 'C'], dtype='object'))

In [369]:
for row in df1.index:
    print(row)
    for col in df1.columns:
        print('---', col, df1.loc[row, col])

one
--- A 11
--- B 22
--- C 33
two
--- A 44
--- B 55
--- C 66
three
--- A 77
--- B 88
--- C 99

#### [ 문제 ] one, three 행을 선택 후 저장하기

In [370]:
onethreeDF = df1.loc[['one', 'three']]      # 1개만 뽑으면 시리즈이지만 2개이상 뽑으면 데이터프레임이 된다.
type(onethreeDF), onethreeDF

(pandas.core.frame.DataFrame,
         A   B   C
 one    11  22  33
 three  77  88  99)

In [371]:
df1.loc[['one']]                            #이렇게 리스트안에 행이름 넣으면 시리즈가 아닌 데이터프레임이 된다.

      A   B   C
one  11  22  33